@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "AdminBlogList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        @*<th>ID</th>*@
        <th>Başlık</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Yazar</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Yorumlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>@item.BlogID</td>*@
            <td>@item.BlogTitle</td>
            <td>@item.Category.CategoryName</td>
            <td>@(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Author.AuthorName</td>
            <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/UpdateBlog/@item.BlogID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Blog/BlogDetails/@item.BlogID" class="btn btn-warning">Detaylar</a></td>
            <td><a href="/Blog/GetCommentByBlog/@item.BlogID" class="btn btn-dark">Yorumlar</a></td>
        </tr>
    }
</table>
<a href="/Blog/AddNewBlog/" class="btn btn-primary">Yeni Blog Ekle</a>