@using PagedList
@using PagedList.Mvc
@model IEnumerable<EntityLayer.Concrete.Blog>
@{ string color = "";}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Blog Listesi</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.Category.CategoryName == "Seyahat")
                {
                    color = "post-category text-white bg-primary mb-3";
                }
                if (item.Category.CategoryName == "Teknoloji")
                {
                    color = "post-category text-white bg-secondary mb-3";
                }
                if (item.Category.CategoryName == "Yazılım")
                {
                    color = "post-category text-white bg-warning mb-3";
                }
                if (item.Category.CategoryName == "Kültür & Sanat")
                {
                    color = "post-category text-white bg-danger mb-3";
                }
                if (item.Category.CategoryName == "Film & Dizi")
                {
                    color = "post-category text-white bg-success mb-3";
                }
                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href="/Blog/BlogDetails/@item.BlogID"><img src="@item.BlogImage" alt="Image" class="img-fluid rounded" style="width:400px; height:250px"></a>
                        <div class="excerpt">
                            <a href="/Blog/BlogByCategory/@item.CategoryID"><span class="@color">@item.Category.CategoryName</span></a>
                            <h2><a href="/Blog/BlogDetails/@item.BlogID">@item.BlogTitle</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid" style="height:60px; width:60px"></figure>
                                <span class="d-inline-block mt-1">@item.Author.AuthorName</span>
                                <span>&nbsp;-&nbsp; @(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</span>
                                Puan: @item.BlogRating
                            </div>
                            <p>@item.BlogContent.Substring(0, item.BlogContent.Substring(0, 200).LastIndexOf(" "))...</p>
                            <p><a href="/Blog/BlogDetails/@item.BlogID">Devamını Oku</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))