@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="pt-5">
    <h3 class="mb-5">@ViewBag.count Yorumlar</h3>
    <ul class="comment-list">
        @foreach (var item in Model)
        {
        <li class="comment">
            <div class="vcard">
                <img src="~/miniblog/images/avatar.png" alt="Image placeholder" style="height:60px; width:60px">
            </div>
            <div class="comment-body">
                <h3>@item.Username</h3>
                <div class="meta">@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</div>
                <p>@item.CommentText</p>
                @*<p><a href="#" class="reply rounded">Reply</a></p>*@
            </div>
        </li>
        }
    </ul>
    @Html.Action("LeaveComment","Comment")
</div>